In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
elec = pd.read_csv('haryana2.csv')
elec.head()

,AC NO.,AC NAME,CANDIDATE NAME,SEX,AGE,CATEGORY,PARTY,Criminal Case,Education,Total Assets,Liabilities,SYMBOL,GENERAL,POSTAL,TOTAL,% VOTES POLLED,TOTAL ELECTORS,Winner
0,80,Ferozepur Jhirka,AARIF KHAN,MALE,28.0,GENERAL,SP,0.0,12th Pass,"Rs 9,37,000",Rs 0,Bicycle,107,NaN,107,0.072920,208910,0
1,62,Rohtak,AASHISH,MALE,31.0,GENERAL,IND,0.0,Graduate,"Rs 7,15,001","Rs 4,35,250",Lady Finger,30,NaN,30,0.026128,191796,0
2,46,Ellenabad,Abhay Singh Chautala,MALE,54.0,GENERAL,INLD,2.0,10th Pass,"Rs 66,61,34,010","Rs 73,39,894",Spectacles,56976,79.0,57055,37.864007,181021,1
3,8,Jagadhri,Adarsh Pal Singh,MALE,51.0,GENERAL,BSP,17.0,Graduate,"Rs 8,78,00,000","Rs 6,00,000",Elephant,47938,50.0,47988,28.110996,216563,0
4,88,Ballabhgarh,ADESH KUMAR,MALE,29.0,GENERAL,SP,0.0,Graduate,"Rs 56,94,161","Rs 39,82,728",Bicycle,499,NaN,499,0.407058,238540,0

In [5]:
elec.isnull().sum()

AC NO.              0
AC NAME             0
CANDIDATE NAME      0
SEX                90
AGE                90
CATEGORY           90
PARTY               0
Criminal Case     138
Education         138
Total Assets      138
Liabilities       138
SYMBOL              0
GENERAL             0
POSTAL            425
TOTAL               0
% VOTES POLLED      0
TOTAL ELECTORS      0
Winner              0
dtype: int64

In [6]:
def value_cleaner(x):
    try:
        str_temp = (x.split('Rs')[1].split('\n')[0].strip())
        str_temp_2 = ''
        for i in str_temp.split(","):
            str_temp_2 = str_temp_2+i
        return str_temp_2
    except:
        x = 0
        return x

In [7]:
elec['Total Assets'] = elec['Total Assets'].apply((value_cleaner))
elec['Liabilities'] = elec['Liabilities'].apply((value_cleaner))
elec.head()

,AC NO.,AC NAME,CANDIDATE NAME,SEX,AGE,CATEGORY,PARTY,Criminal Case,Education,Total Assets,Liabilities,SYMBOL,GENERAL,POSTAL,TOTAL,% VOTES POLLED,TOTAL ELECTORS,Winner
0,80,Ferozepur Jhirka,AARIF KHAN,MALE,28.0,GENERAL,SP,0.0,12th Pass,937000,0,Bicycle,107,NaN,107,0.072920,208910,0
1,62,Rohtak,AASHISH,MALE,31.0,GENERAL,IND,0.0,Graduate,715001,435250,Lady Finger,30,NaN,30,0.026128,191796,0
2,46,Ellenabad,Abhay Singh Chautala,MALE,54.0,GENERAL,INLD,2.0,10th Pass,666134010,7339894,Spectacles,56976,79.0,57055,37.864007,181021,1
3,8,Jagadhri,Adarsh Pal Singh,MALE,51.0,GENERAL,BSP,17.0,Graduate,87800000,600000,Elephant,47938,50.0,47988,28.110996,216563,0
4,88,Ballabhgarh,ADESH KUMAR,MALE,29.0,GENERAL,SP,0.0,Graduate,5694161,3982728,Bicycle,499,NaN,499,0.407058,238540,0

In [8]:
elec.dtypes

AC NO.              int64
AC NAME            object
CANDIDATE NAME     object
SEX                object
AGE               float64
CATEGORY           object
PARTY              object
Criminal Case     float64
Education          object
Total Assets       object
Liabilities        object
SYMBOL             object
GENERAL             int64
POSTAL            float64
TOTAL               int64
% VOTES POLLED    float64
TOTAL ELECTORS      int64
Winner              int64
dtype: object

In [9]:
elec['Total Assets']=pd.to_numeric(elec['Total Assets'])
elec['Liabilities']=pd.to_numeric(elec['Liabilities'])
elec['Criminal Case'].replace({np.NaN:0})
elec['Criminal Case'] = pd.to_numeric(elec['Criminal Case'], errors='coerce').fillna(0).astype(np.int64)

In [10]:
elec_df=elec[elec['PARTY']!='NOTA']
elec_df['SEX'].replace({'MALE':1,'FEMALE':2},inplace=True)
elec_df['CATEGORY'].replace({'GENERAL':1,'SC':2},inplace=True)
i=1
parties_dict={}
for j in elec_df['PARTY']:
    if j in parties_dict:
        continue
    else:
        parties_dict[j]=i
        i+=1
elec_df['PARTY'].replace(parties_dict,inplace=True)
a=1
edu_dict={}
for b in elec_df['Education']:
    if b in edu_dict:
        continue
    else:
        edu_dict[b]=a
        a+=1
elec_df['Education'].replace(edu_dict,inplace=True)
df2 = elec_df[['AC NAME','Winner','PARTY','SYMBOL','SEX','Criminal Case','AGE','CATEGORY','Education','TOTAL','TOTAL ELECTORS','Total Assets','Liabilities']]
num_col = ['PARTY','Education','Criminal Case','AGE','TOTAL','TOTAL ELECTORS','Total Assets','CATEGORY','Liabilities','SEX']
dtst = pd.get_dummies(df2)
from sklearn.preprocessing import StandardScaler
standardScaler = StandardScaler()
scaling_col = num_col
dtst[scaling_col] = standardScaler.fit_transform(dtst[scaling_col])
dtst.head()

c:\users\devendra kaushik\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,Winner,PARTY,SEX,Criminal Case,AGE,CATEGORY,Education,TOTAL,TOTAL ELECTORS,Total Assets,...,SYMBOL_Television,SYMBOL_Tennis Racket & Ball,SYMBOL_Tiller,SYMBOL_Tractor Chalata Kissan,SYMBOL_Truck,SYMBOL_Tyres,SYMBOL_Vacuum Cleaner,SYMBOL_Water Tank,SYMBOL_Well,SYMBOL_Whistle
0,0,-0.698393,-0.319197,-0.138183,-1.510573,-0.609009,-0.947853,-0.532500,0.089997,-0.269934,...,0,0,0,0,0,0,0,0,0,0
1,0,-0.614609,-0.319197,-0.138183,-1.264671,-0.609009,-0.567931,-0.536384,-0.350555,-0.271377,...,0,0,0,0,0,0,0,0,0,0
2,1,-0.530825,-0.319197,1.132669,0.620581,-0.609009,-0.188009,2.340295,-0.627926,4.051685,...,0,0,0,0,0,0,0,0,0,0
3,0,-0.447041,-0.319197,10.664058,0.374678,-0.609009,-0.567931,1.882902,0.287001,0.294393,...,0,0,0,0,0,0,0,0,0,0
4,0,-0.698393,-0.319197,-0.138183,-1.428606,-0.609009,-0.567931,-0.512725,0.852737,-0.239028,...,0,0,0,0,0,0,0,0,0,0

In [12]:
from sklearn.utils import resample
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [13]:
df_not_winner = dtst[dtst.Winner == 0]
df_winner = dtst[dtst.Winner == 1]
df_winner_upsampled = resample(df_winner, replace = True,n_samples = 1452, random_state = 0) 
df_total_upsampled = pd.concat([df_not_winner, df_winner_upsampled])
df_total_upsampled.Winner.value_counts()
y = df_total_upsampled['Winner']
X = df_total_upsampled.drop(['Winner'], axis = 1)

rf_scores = []
for k in range(1,60):
    randomforest_classifier= RandomForestClassifier(n_estimators=k,random_state=0)
    score=cross_val_score(randomforest_classifier,X,y,cv=10)
    rf_scores.append(score.mean())

In [14]:
rf_scores

[0.9739130434782609,
 0.9869565217391305,
 0.982213438735178,
 0.9849802371541501,
 0.9802371541501976,
 0.983399209486166,
 0.9810276679841898,
 0.98300395256917,
 0.9806324110671938,
 0.98300395256917,
 0.9818181818181818,
 0.9837944664031621,
 0.9810276679841896,
 0.98300395256917,
 0.982608695652174,
 0.98300395256917,
 0.982213438735178,
 0.983399209486166,
 0.9814229249011858,
 0.983399209486166,
 0.9818181818181818,
 0.983399209486166,
 0.9814229249011858,
 0.982213438735178,
 0.9818181818181818,
 0.982213438735178,
 0.982213438735178,
 0.982608695652174,
 0.982608695652174,
 0.98300395256917,
 0.982608695652174,
 0.9830039525691701,
 0.982213438735178,
 0.982608695652174,
 0.982213438735178,
 0.982213438735178,
 0.9818181818181818,
 0.9818181818181818,
 0.9814229249011858,
 0.982213438735178,
 0.9814229249011858,
 0.98300395256917,
 0.982213438735178,
 0.9826086956521738,
 0.982213438735178,
 0.98300395256917,
 0.982213438735178,
 0.98300395256917,
 0.9818181818181818,
 0.982213438735178,
 0.9818181818181818,
 0.982213438735178,
 0.9814229249011859,
 0.982213438735178,
 0.982213438735178,
 0.982213438735178,
 0.982213438735178,
 0.982213438735178,
 0.9818181818181818]

In [15]:
randomforest_classifier= RandomForestClassifier(n_estimators=2,random_state=0)
score=cross_val_score(randomforest_classifier,X,y,cv=10)
print('% Accuracy :', round(score.mean()*100,4))

% Accuracy : 98.6957